@model List<Categories>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container py-5">
    <section style="background-color: #eee;">
        @for (int i = 0; i < Model.Count; i += 2)
        {
            <div class="row mb-4">
                <!-- First Card -->
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            @* <h5 class="card-title">@Model[i].Name</h5> *@

                            @if (Model[i].Movies.Any())  // Check if there are any movies
                            {
                                @foreach (var movie in Model[i].Movies)
                                {
                                    <h5 class="card-title">@movie.Name</h5>
                                    <div class="d-flex">
                                        <img src="~/images/@movie.ImgUrl" class="img-fluid" style="width: 150px; height: auto; margin-right: 20px;" />
                                        <div>
                                            <p class="text-dark mb-1"><strong>Price:</strong> @movie.Price</p>
                                            <p class="text-dark mb-1"><strong>Cinema:</strong> @movie.Cinemas.Name</p>
                                            <p class="text-dark mb-1"><strong>Start Date:</strong> @movie.StartDate</p>
                                            <p class="text-dark mb-1"><strong>End Date:</strong> @movie.EndDate</p>
                                            <p class="text-dark mb-1"><strong>Category:</strong>@Model[i].Name</p>

                                            @if (DateTime.Now >= movie.StartDate && DateTime.Now <= movie.EndDate)
                                            {
                                                <span class="badge badge-primary">Available</span>
                                            }

                                            else if (DateTime.Now < movie.StartDate)
                                            {
                                                <span class="badge badge-secondary">Upcoming</span>
                                            }

                                            else
                                            {
                                                <span class="badge badge-danger">Expired</span>
                                            }

                                            <a href="/Home/Details?MoviesId=@movie.MoviesId" class="btn btn-outline-secondary">More Details</a>
                                            @if (DateTime.Now > movie.EndDate)
                                            {
                                                <button type="button" class="btn btn-secondary" disabled>Book Ticket</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-success">Book Ticket</button>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No movies available in this category.</p>
                            }
                        </div>
                    </div>
                </div>

                <!-- Second Card (if exists) -->
                @if (i + 1 < Model.Count)
                {
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                @* <h5 class="card-title">@Model[i + 1].Name</h5> *@

                                @if (Model[i + 1].Movies.Any())
                                {
                                    @foreach (var movie in Model[i + 1].Movies)
                                    {
                                        <h5 class="card-title">@movie.Name</h5>
                                        <div class="d-flex">
                                            <img src="~/images/@movie.ImgUrl" class="img-fluid" style="width: 150px; height: auto; margin-right: 20px;" />
                                            <div>
                                                <p class="text-dark mb-1"><strong>Price:</strong> @movie.Price</p>
                                                <p class="text-dark mb-1"><strong>Cinema:</strong> @movie.Cinemas.Name</p>
                                                <p class="text-dark mb-1"><strong>Start Date:</strong> @movie.StartDate</p>
                                                <p class="text-dark mb-1"><strong>End Date:</strong> @movie.EndDate</p>
                                                <p class="text-dark mb-1"><strong>Category:</strong>@Model[i + 1].Name</p>
                                                @if (DateTime.Now >= movie.StartDate && DateTime.Now <= movie.EndDate)
                                                {
                                                    <span class="badge badge-primary">Available</span>
                                                }
                                                else if (DateTime.Now < movie.StartDate)
                                                {
                                                    <span class="badge badge-secondary">Upcoming</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Expired</span>
                                                }
                                                <a href="/Home/Details?MoviesId=@movie.MoviesId" class="btn btn-outline-secondary">More Details</a>
                                                @if (DateTime.Now > movie.EndDate)
                                                {
                                                    <button type="button" class="btn btn-secondary" disabled>Book Ticket</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-success">Book Ticket</button>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No movies available in this category.</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </section>
</div>
